body{
 background-color: black;
}

.card {
  background: #F5F5F5	;
  width: 430px;
  height: 665px;
  margin: 10px auto;
}

#imgAugen {
	position: absolute;
    top: 0px;
    left: 0px;
}

.text {
  color: black;
  text-align: left;
}


.text-untertitel {
  border-bottom: 1px solid black;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  line-height: 21px;
  letter-spacing: 0.5px;
  margin: 0px 13px 13px 13px;
  padding-top: 5px;
}

.text-title {
  font-family: 'Domine', serif;
  font-size: 22px;
  letter-spacing: 9px;
  margin: 13px;
}

.monster{
  width: 100%;
  position:relative;
} 

img {
  cursor:pointer;
}

.is-hidden {
  display: none;
}

.container {
  width: 100%;
}
.eye {
  display: inline-block;
  border-radius: 50%;
  height: 143px;
  width: 143px;
  background: #CCC;
  position: absolute;
  top: 21.1%;
  left: 46.5%;
  background: #0072EB;
}

.eye:after { /*pupil*/
  position: absolute;
  bottom: 15px;
  right: 10px;
  width: 80px;
  height: 80px;
  background: #1E1B3C;
  border-radius: 50%;
  content: " ";
}